.cart{
    background-color:#9897a33e ;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
     box-shadow: 5px 10px #cfc3c3;
}
.name{
    text-align: right;
}
.cart .img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
@media screen and (max-width: 525px) {
    .cart{
    text-align: center;
}
}